:root {
    font-size: 16px;
    font-family: 'Roboto Condensed', Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    --primary: hsla(222, 59%, 15%);
    --accent: hsla(28, 93%, 55%);
}

html {
    scroll-behavior: smooth;
}

h1, 
h2,
h3,
h4 {
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Anton', Verdana, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: var(--primary);
}

header img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    background-color: var(--accent);
    height: 40px;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    color: var(--accent);
    background-color: var(--primary);
    padding-left: 5px;
    padding-right: 3px;
    border-radius: 10px;
}

nav p {
    font-size: 1.5rem;
    font-weight: bolder;
}

main {
    padding: 0.5rem;
}

.home {
    text-align: center;
}

.about {
    padding: 0 1rem 0.5rem 1rem;
    margin: 0 auto;
    max-width: 400px;
}

.about p {
    text-align: justify;
}

#bfd img {
    width: 80%;
    max-width: 400px;
}

.button {
    margin: 1rem auto;
    width: fit-content;
}

.button img {
    border-radius: 15px;
    max-width: 100%;
    width: 340px;
    height: auto;
}

#small-image {
    display: flex;
}

#medium-image {
    display: none;
}

#large-image {
    display: none;
}

@media (min-width: 235px) {
    #small-image {
        display: none;
    }
    #medium-image {
        display: flex;
    }
    #large-image {
        display: none;
    }
}

@media (min-width: 701px) {
    #small-image {
        display: none;
    }
    #medium-image {
        display: none;
    }
    #large-image {
        display: flex;
    }
}

.slider {
    overflow: hidden;
}

.slider img {
    animation: move 20s infinite;
    min-width: 100%;
}

@keyframes move {
    from {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(-300%);
    }
}

.commands {
    width: fit-content;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.commands ul {
    list-style-type: none;
}

.commands li {
    text-align: left;
}

.commands h3 {
    text-align: left;
    font-size: smaller;
}

.video {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.video iframe {
    border: none;
}

.twitter {
    text-align: center;
}

.twitter img {
    width: 75px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--accent);
    width: 100%;
}

footer img {
    height: 65px;
    width: auto;
}

.dashed-rounded {
    border: 3px dashed var(--primary);
    border-radius: 15px;
}

.subheading a {
    text-decoration: underline;
}

.subheading a:hover {
    text-decoration: none;
}